<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
              {{>header}}
             
            <img class="portrait" src="/img/Ricky.jpeg">
            <p>I am Ricky Ofalsa Robles, from Talaonga Sta. Magdalena, Sorsogon.</p>

            <img class="portrait" src="/img/Aimee.jpeg">
            <p>I am Aimee Banares Vargas, from Zone 5, Bulan Sorsogon.</p>

            <img class="portrait" src="/img/Ruby.jpg">
            <p>I am Ruby Hernandez Borabo, from Zone 5, Bulan Sorsogon.</p>

            <img class="portrait" src="/img/Allyssa.jpg">
            <p>I am Allyssa S. Balbero, from Bical, Bulan Sorsogon.</p>

            <img class="portrait" src="/img/Regine.jpg">
            <p>I am Regine Fernandez Cano, from JP Laurel, Bulan Sorsogon.</p>
             
             
    </div>

  
    {{>footer}}
</body>

</html>